<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="dark">
      Créditos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <div  class="ion-padding" 
        style="margin-top: 50%;">
    <div class="ion-text-center">
      <ion-text color="dark">
        <h1>Bienvenido</h1>
      </ion-text>
      <ion-button color="primary"
                  routerLink="/register"
                  routerDirection="forward">
                  Solicitar
      </ion-button>
    </div>
  </div>
</ion-content>
